<footer>

</footer>

<div class="sub-footer">
  <div class="container">
    <div class="copyright">
      &copy; Travlendar. All Rights Reserved.
      <div class="credits">
        <a href="https://travlendar.me/">Travlendar</a> by <a href="https://github.com/david-henderson/ser517-travlendar">ASU SER517 2017 & SER518 2018 Team 1</a>
      </div>
      <a (click)="toggleTOS()" [ngStyle]="{'cursor': 'pointer'}" >Terms Of Service</a>
    </div>
  </div>
  <app-tos-modal [notLogin]="true"></app-tos-modal>
</div>
